<p>add-details here......</p>
<p>add-details works here!!</p>
<<<<<<< HEAD:src/app/Components/add-details/add-details.component.html
<p>add-details works...</p>
=======
<p>add-details works here------</p>

<h1>hey how are u</h1>
>>>>>>> 608c0b2ed239bf6fa5e4b51c23699d56d45d2910:src/app/anand.html
