<p>add-details works!</p>
<span>fddffd</span>
<span>fddffd</span>
<<<<<<< HEAD:src/app/add-details/add-details.component.html
<button>dsfsfd</button>
<span>fddffd</span>
<span>fddffd</span>

<button>jjiiijj</button>

<button>dsdsds</button>

=======

<h1>I am Updated</h1>
>>>>>>> e4de7f63fa4063693d7eb4b83a21438cd469daab:src/app/Remove-elements.html
